@import "../styles/abstrats/var.scss";

.header {
  position: fixed;
  z-index: 995;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px;
  background-color: $primary;
  
  
 
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .a {
    text-decoration: none;

    h4 {
      font-weight: bolder;
      color: $white;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  z-index: 997;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.nav {
  background-color: $primary;
  position: fixed;
  visibility: hidden;
  z-index: 998;
  right: 16vw;
  left: 16vw;
  bottom: 5rem;
  transition: transform 0.4s ease;
  transform: translate(0, 54vh);
  padding: 2rem;
  border-radius: 12px;

  ul {
    display: flex;
    flex-direction: column;

    li {
      list-style: none;
      text-align: center;
    }
  }
  
  a {

    text-decoration: none;
    display: block;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2rem;
    color: $white;
    padding: 2rem 4rem;
    
    &:hover{
      color: lighten($white, 20%);
    }
  }
}

.open {
  transform: translate(0, 0);
  visibility: visible;
}


@media (min-width:600px) {


}

@media (min-width: 1024px) {
  .header{
    top: 0;
    bottom: auto;

    .container{
      max-width: 1200px;
      margin: 0 auto;
      justify-content: space-between;
    }

    .nav{
      all: unset;
      
      ul{
        all: unset;
        display: flex;
        gap: 5px;

        li{
          transition: transform 0.2s;

          &:active{
            transform: scale(0.8);
          }
        }

        a{
          all: unset;
          color: $white;
          cursor: pointer;
          padding: 0.5rem 1rem;
          border-radius: 12px;

          &:hover{
            background-color: $white;
            color: $primary;
          }

        }
      }
    }

    .overlay{
      display: none;
    }
  }
}
